@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="go_back" asp-area="" asp-controller="Game" asp-action="GameModes">Go back</a>

<style>
    .go_back {
        position: fixed;
        bottom: 70px;
        left: 10px;
        background-color: darkcyan;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.2s;
    }

        .go_back:hover {
            background-color: #005858;
            box-shadow: var(--hover-shadow);
            color: white;
        }
</style>
