@{
    <h1>THE LEADERS OF THE WARSHIP🏆:</h1>
    <ul>
        <li style="font-size: 24px; color: black;">First place</li>
        <li style="font-size: 24px; color: black;">Second place</li>
        <li style="font-size: 24px; color: black;">Third place</li>
        <li style="font-size: 24px; color: black;">...</li>
    </ul>
    <p>---------------------------------------------------------------------------------------------</p>

    <h1>LAIVŲ MŪŠIO LYDERIAI🏆:</h1>
    <ul>
        <li style="font-size: 24px; color: black;">Pirmoji vieta</li>
        <li style="font-size: 24px; color: black;">Antroji vieta</li>
        <li style="font-size: 24px; color: black;">Trečioji vieta</li>
        <li style="font-size: 24px; color: black;">...</li>
    </ul>
}
