@{
    <h1>THE LEADERS OF THE WARSHIP:</h1>
    <ul style="font: 20px; color: black;">
        <li>First place</li>
        <li>Second place</li>
        <li>Third place</li>
        <li>...</li>
    </ul>
}
